# Fun Facts! Splashscreens Settings

# Boot splashscreen
# -----------------

# Background image
#
# Must be an absolute path (e.g /home/pi/my-awesome-splashscreen.png).
boot_splashscreen_background_path = "/home/pi/RetroPie-Fun-Facts-Splashscreens/retropie-default.png"

# Background solid color
boot_splashscreen_background_color = "white"

# Text color
#
# Short list of available colors:
#
# black, white, gray, gray10, gray25, gray50, gray75, gray90,
# pink, red, orange, yellow, green, silver, blue, cyan, purple, brown.
#
# TIP: run the 'convert -list color' command to get a full list.
boot_splashscreen_text_color = "AliceBlue"

# Text font
boot_splashscreen_text_font_path = "/etc/emulationstation/themes/pixel/./art/font.ttf"

# Launching images
# ---------------

# Background image
#
# Must be an absolute path (e.g /home/pi/my-awesome-splashscreen.png).
launching_images_background_path = "/home/pi/RetroPie-Fun-Facts-Splashscreens/retropie-default.png"

# Background solid color
launching_images_background_color = "AliceBlue"

# Text color
launching_images_text_color = "white"

# Text font
launching_images_text_font_path = ""

# "Press button" text
launching_images_press_button_text = ""

# "Press button" text color
launching_images_press_button_text_color = ""

# Automate scripts
# ----------------

# Enable/disable script at boot
#
# Boolean: true/false.
boot_splashscreen_script = ""

# Enable/disable launching images
#
# Boolean: true/false.
launching_images_script = ""
